<!DOCTYPE html>
<html>
<head lang="en">

    <title>CTA Student Tracker</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<div class="container">
    <p>This system is used to register and track students at Corecom Technology Academy. </p>
    <p>Please add new students when they are confirmed and then edit details when training is completed.</p>
</div>
</body>
</html>